@font-face {
    font-family: Hanken;
    src: url(./HankenGrotesk-VariableFont_wght.ttf);
}
* {
    font-family: Hanken;
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(90deg, purple,  black);
    display: flex;
    justify-content: center;
}
.app {
    text-align:center;
    padding: 30px;
}
.flex {
    align-items: center;
    height: 100vh;
}
.btn {
    border:1px solid rgba(0, 0, 0, 0.568);
    padding: 15px;
    width:100%;
    background-color:white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin:15px auto;
    cursor: pointer;
    transition: 0.3s 0.2s ease;
}
.btn:hover:not([disabled]) {
    background-color: black;
    color: #fff;
}
.btn:disabled {
    color:black;
    cursor: no-drop;
}
hr {
    margin: 10px 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.welcome h1 {
    margin-bottom: 20px;
}
.welcome p {
    margin-bottom: 20px;
}
.quiz-subjects {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding:20px;
}
.quiz-subjects h2 {
    color: black;
}
.subject {
    text-align: center;
    cursor: pointer;
    color:white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    background: linear-gradient(90deg, purple, black);
    transition: 0.2s 0.2s;
}
.subject:hover {
    background: linear-gradient(90deg, black, purple);

}
.n-btn {
    width: 90px;
    padding: 10px 30px;
    background: black;
    color: white;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}
.nav-buttons {
    display: flex;
    gap:20px;
}

.correct {
    background-color: green;
    border:2px solid rgb(2, 80, 2);
    color:white !important
}
.incorrect {
    background-color: red;
    border:2px solid rgb(109, 5, 5);
    color:white !important
}
.question {
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
.quiz {
    display: none;
}
input {
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 40px 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.301);
}
input:focus {
    outline: 0;
}
.developer {
    background-color: white;
    width:180px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    color:black;
    display: block;
    text-decoration: none;
    margin-top: 30px;
}
@media (max-width:500px) {
    .app {
        width:70%
    }
    
}

/* @font-face {
    font-family: Hanken;
    src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf);
}
* {
    font-family: Hanken;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app {
    background-color: #fff;
    width: 80%;
    text-align:center ;
    padding: 20px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.btn {
    border:1px solid rgba(0, 0, 0, 0.568);
    padding: 15px;
    background-color: transparent;
    width:100%;
    border-radius: 10px;
    text-align: start;
    margin:10px auto;
    cursor: pointer;
    transition: 0.3s 0.2s ease;
}
.btn:hover:not([disabled]) {
    background-color: black;
    color: #fff;
}
.btn:disabled {
    color:black;
    cursor: no-drop;
}
hr {
    margin: 10px 0;
}
.subject {
    text-align: center;
    cursor: pointer;
}
.next {
    width: 100px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}
.correct {
    background-color: rgba(0, 128, 0, 0.562);
    border:2px solid rgba(0, 128, 0, 0.884);
}
.incorrect {
    background-color: rgba(255, 0, 0, 0.377);
    border:2px solid rgba(255, 0, 0, 0.377);
}
.qu {
    /* display: none; */
/* }  */
